= form.text_field :data_date
= form.text_field :environment_url
= form.text_field :biology_url

.row
  = form.form_actions do
    .col-sm-4
      .row
        = form.submit class: "btn btn-primary"
        = link_to 'Cancel', admin_swan_lakes_path, class: "btn btn-link offset-sm-1"
