.page-header
  .float-right
    = link_to 'New Swan Lake', new_admin_swan_lake_path, class: 'btn btn-secondary'
    = link_to 'View Website', "/swan-lake", class: 'btn btn-success'
  %h2= 'Swan Lakes'

= paginate @swan_lakes, theme: 'comfy'

%ul.list
  %li
    .row
      .col-md-2.item
        .item-content
          .item-title
            %h2 Date
      .col-md-4.item
        .item-content
          .item-title
            %h2 Environmental Link
      .col-md-4.item
        .item-content
          .item-title
            %h2 Biological Link
  - @swan_lakes.each do |swan_lake|
    %li
      .row
        .col-md-2.item
          .item-content
            .item-title
              = swan_lake.data_date.strftime("%m-%d-%Y")
        .col-md-4.item
          .item-content
            .item-title
              = swan_lake.environment_url
        .col-md-4.item
          .item-content
            .item-title
              = swan_lake.biology_url
        .col-md-2.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_swan_lake_path(swan_lake), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_swan_lake_path(swan_lake), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

= paginate @swan_lakes, theme: 'comfy'
