.page-header
  .float-right
    = link_to 'New Participant', new_admin_participant_path, class: 'btn btn-secondary'
    = link_to 'View Website', "/participants", class: 'btn btn-primary'
  %h2= 'Participants'


= paginate @participants, theme: 'comfy'

%ul.list
  - @participants.each do |participant|
    %li
      .row
        .col-md-8.item
          .item-content
            .item-title
              %h5
                = link_to participant.first_name, edit_admin_participant_path(participant)
                = link_to participant.last_name, edit_admin_participant_path(participant)
            .item-meta
              .identifier
                = link_to participant.email, edit_admin_participant_path(participant)
                |
                -#= link_to participant.state.s_name, edit_admin_participant_path(participant)
                = link_to participant.state_name, edit_admin_participant_path(participant)



        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_participant_path(participant), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_participant_path(participant), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

= paginate @participants, theme: 'comfy'
